---
layout: splash
author_profile: false
title: Italian C++ Community
tagline: La comunità Italiana dedicata al C++, attiva dal 2013
header:
  caption: 
  overlay_image: /assets/images/header-bg.jpg
  ongoing_event: /assets/images/header-conf.png
  cta_url: "#eventi-in-programma"
  cta_label: Scopri gli eventi in programma


feature_row:
  - image_path: /assets/images/team/1.png
    alt: "Marco Arena"
    title: "Marco Arena"
    excerpt: "Fondatore"
    image_class: authors  

entries_layout: grid
---


<section class="main-section-description">
    {% capture my_include %} {% include introduzione.md %} {% endcapture %}
    {{ my_include | markdownify }}
</section>


<section class="upcoming-events">
    <h1 id="eventi-in-programma"> Prossimi eventi: </h1> <a class="header-link" href="#eventi-in-programma" title="permalink"><span class="sr-only">Permalink</span></a>
    
    <div class="entries-grid">
        {% for post in site.eventi %}    
            {% if post.date >= site.time %}
                {% include archive-single.html type=grid %}
            {% endif %}
        {% endfor %}
    </div>
</section>



