@import "mlmodena_theme/archive";

.btn--primary {
    background-color: #dddd00;
    color: #333;
    &:hover {
        background-color: #bbbb00;
        color: #333;
    }
    &:visited {
        background-color: #bbbb00;
        color: #333;
    }
}

div.cpp-gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.cpp-gallery:hover {
  border: 1px solid #777;
}

div.cpp-gallery img {
  width: 25%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}