@import "mlmodena_theme/archive";

.btn--primary {
    background-color: #dddd00;
    color: #333;
    &:hover {
        background-color: #bbbb00;
        color: #333;
    }
    &:visited {
        background-color: #bbbb00;
        color: #333;
    }
}

.fig-cpp-people {
	float: right;
	width: 50%;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em;
}

.fig-cpp-people img {
	width: 50%;
}